* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	width: 80%;
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
	padding: 20px;
	background-color: #f8f8f8;
	color: #777;
	border-top: 1px solid #e7e7e7;
}
footer span {
	text-align: center;
}

#ajaxloader {
    position: fixed;
    display: none;
    top: 0; 
    left: 0;
    height: 100%; 
    width: 100%;
    background: #000; 
    opacity: .2;
    z-index: 12000;
}

#ajaxloader img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}